@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.shadow-service{
    box-shadow: 2px 6px 24px rgba(42, 44, 61, 0.16);
}

.bg-contact{
    background-image: url('../public/bg-contact.png');
}
.bg-hero{
    background-image: url('../public/bg-hero.png');
    background-repeat: no-repeat;
}